<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Registar", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Entrar", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
